<html>
<head>
<title>Team</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script type ="text/javascript">
    </script>
    <style>
        form {
            width: 30%;
        }
    </style>
</head>
<body>
<div class='container'>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Team</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/users">Members</a></li>
      </ul>
    </div>
  </div>
</nav>




    <form action="/switchTeams/<%= content.user.id %>" method="post">
        <label for='member'>Name: <%= content.user.name %></label>
        <% for(i in content.teams){ 
            if(content.teams[i].id == content.user._team) { %>
                <p>Current Team: <%= content.teams[i].name %></p>
        <% }} %>
        <input type="hidden" name="teamID" value="<%= content.user._team %>">
        <select class='form-control' id='member' name='assoc'>
            <% for (i in content.teams) { %>
                <option value="<%= content.teams[i].id %>"><%= content.teams[i].name %></option>
            <% } %>
        </select>
        <br>
    	<input class='btn btn-success' type="submit" value="Reassign">
    </form>
    <form action='/delete/<%= content.user.id %>' method='post'>
        <button type='submit' class='btn btn-danger'> Delete User </button>
    </form>
</div>
</body>
</html>